.Footer {
  background-color: #FE4A49;
  height: 65px;
}

.tab-text {
    font-size: 13px;
}

.fas.fa-home {
    font-size: 24px;
}

.fas.fa-search {
    font-size: 24px;
}

.fas.fa-list-ul {
    font-size: 24px;
}

.fas.fa-user-circle {
    font-size: 24px;
}
